button.btn-flat {
    width: 75%;
    height: 50px;
}

#couvertSelector {
    text-align: center;
}

div.input-container {
    width: 8%;
    margin: auto;
}

div.left, div.right {
    width: 50%;
    display: inline-block;
}

ul.summary-list {
    width: 100%;
}

#summary {
    width: 60%;
    margin: auto;
}

#summary::after {
    display: block;
    content: "";
    clear: both;
}