button {
    height: 75px;
    width: 150px;
    margin: 25px;
}

button.btn-flat {
    width: 50%;
    height: 20%;
}

ul.summaryList {
    width: 45%;
    display: inline-block;
}

#summary {
    width: 80%;
    margin: auto;
}

#summary::after {
    display:block;
    content:"";
    clear:both;
}